<router-outlet></router-outlet>

<app-compteur [valeurCompteurfils]="valeurCompteurPere"(decrement)="decrementCompteur()"(increment)="incrementCompteur()"></app-compteur>
<app-resetcompteur (reset)="resetCompteur($event)"></app-resetcompteur>
<app-randomcompteur [(valeurCompteur)]="valeurCompteurPere"></app-randomcompteur>
<p *ngFor="let i of compteurArray" appDirectiveCompteur="{{i}}">
  Voici l'élément {{i}}
</p>

<a (click)="navigateHome()"> HOME </a>
<a (click)="navigateLivres()">LivresTable</a>
<a routerLink="livres">Livre</a>

